
#############################
####### Database.txt ########
#############################
#
# this file contains the configurations 
# for connecting to the right database
#
#
# the database type whitch shoud be used.
# valid values are: mysql, hsql, oracle, legacy
databasetype=legacy
#
# the host from the database
# for hsql use mem: for a database in the memory
# or use file:<path> for a database as file
# for mysql use s.th. like //127.0.0.1/ 
# Worms:
# databasehost=file:/tmp/
#databasehost=//trd01/xe
#databasehost=//trd04/wingDB
databasehost=<%= @wingdb_host %>
#
# the name of the database
# if you use hsql in file mode this specifies the file name
# Worms
# databasename=JICL_TestDataBase
# TRD (leave it empty)
# databasename=
databasename=
#
# user name for connecting to the database
# for hsql use "sa" (without ")
# Worms
# username=sa
username=<%= @wingdb_user %>
#
# password for connecting to the database
# for hsql leave it empty
password=<%= @wingdb_pass %>
#
#
# the table name of the fee server table
tablenameserver=FEE
# the table name of the fee services table
tablenameservices=FEESERVICES
